

background: transparent;
overflow: visible;


// imports
@import "edit";
@import "progression";


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	border-radius: inherit;
	--base: #9a440d;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		background: var( --base ) radial-gradient(circle at 50%, #ffffff33, transparent);
		transition: background 500ms ease-in-out;
	}

	&[data-show="start-view"] {
		.start-view {
			display: block;
		}
	}

	&[data-show="game-view"] {
		.start-view {
			z-index: 3;
			pointer-events: none;

			.logo {
				svg {
					transform: translate(-298px,-117px) scale(.35);
				}

				.star {
					top: -71px;
					left: -84px;
					width: 11px;
					height: 11px;
				}
			}
		}

		.game-view {
			display: block;
		}
	}

	canvas.particles {
		position: absolute;
		top: -100px;
		left: -100px;
		width: calc( 100% + 200px );
		height: calc( 100% + 200px );
		z-index: 9999;
		pointer-events: none;
		mix-blend-mode: plus-lighter;
		// background: rgba(#fff,.25);
	}

	.witness-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		pointer-events: none;
		mix-blend-mode: overlay;
	}

	.start-view,
	.game-view {
		// display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		// overflow: hidden;
	}

	ul {
		list-style: none;
	}
}


.start-view {
	&.no-anim {
		.logo {
			svg,
			.star {
				transition: none;
			}
		}
	}

	.logo {
		position: relative;
		margin: 83px auto;
		width: 535px;
		height: 133px;

		svg {
			width: inherit;
			height: inherit;
			filter: drop-shadow(0 1px 0 hsl(174, 5%, 80%))
					drop-shadow(0 2px 0 hsl(174, 5%, 75%))
					drop-shadow(0 3px 1px hsl(174, 5%, 67%))
					drop-shadow(0 4px 0 hsl(174, 5%, 59%))
					drop-shadow(0 5px 0 hsl(174, 5%, 51%))
					drop-shadow(0 6px 0 hsl(174, 5%, 43%))
					// drop-shadow(0 7px 0 hsl(174, 5%, 61%))
					// drop-shadow(0 8px 0 hsl(174, 5%, 60%))
					// drop-shadow(0 0 5px rgba(#000,.05))
					// drop-shadow(0 1px 3px rgba(#000,.2))
					// drop-shadow(0 3px 5px rgba(#000,.2))
					// drop-shadow(0 3px 11px rgba(#000,.2))
					drop-shadow(0 5px 11px rgba(#000,.25))
					// drop-shadow(0 7px 21px rgba(#000,.3))
					sepia(1) saturate(5) hue-rotate(325deg);
			transform: translate(0px, 0px) scale(1);
			transition: transform 1000ms ease-in-out;
		}

		.star {
			position: absolute;
			top: 27px;
			left: 119px;
			width: 19px;
			height: 19px;
			mix-blend-mode: plus-lighter;
			transition: top 1600ms ease-out,
						left 1600ms ease-in,
						width 2000ms ease-in-out,
						height 2000ms ease-in-out;
			
			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: inherit;
				height: inherit;
				background: #fff;
				animation: shineStar 1000ms ease-out alternate infinite;
			}

			&:after {
				transform: rotate(45deg);
			}
		}
	}
}


.game-view {
	// default puzzle variables
	--width: 4;
	--height: 4;
	--line: 20px;
	--gap: 19px;
	--fat: 5;
	--grid: 83px;
	--gW: var( --grid );
	--gH: var( --grid );
	--base: #7f0079;
	--bg: #b900ac;
	--gr: #ff00f9;
	--fg: #8b08a2;
	--hl: #fff;
	--snake1: #fff;
	--snake2: #fff;
	// defaults
	--c: #000;
	--d: 0;
	--cM: 23px;

	.level {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		// background: var( --base );

		&[data-id="0.1"] {
			top: 59px;
			// filter: brightness(1.5) hue-rotate(115deg) saturate(2) brightness(2);

			.puzzle {
				mix-blend-mode: hard-light;
				
				&:before,
				&:after { display: none; }

				.grid-base {
					filter: drop-shadow(0 1px 13px rgba(#000,.35));
					// mix-blend-mode: hard-light;
				}
			}
		}

		&.appear {
			animation: appear 500ms forwards;
		}

		&.disappear {
			animation: disappear 500ms forwards;
		}

		&.active {
			opacity: 1;
		}
	}

	.puzzle {
		position: absolute;
		top: 60px;
		left: 60px;
		width: calc( var( --gW ) * var( --width ) );
		height: calc( var( --gH ) * var( --height ) );

		&:before {
			content: "";
			position: absolute;
			top: calc( var( --line ) * -2 );
			left: calc( var( --line ) * -2 );
			right: calc( var( --line ) * -2 );
			bottom: calc( var( --line ) * -2 );
			border-radius: calc( var( --line ) * 1.75 );
			background: var( --bg ) radial-gradient(circle at 50%, var( --gr ), transparent);
			box-shadow: inset 0 0 23px rgba(#000,.35),
						0 2px 7px rgba(#000,.35);
		}

		&:after {
			content: "";
			position: absolute;
			top: calc( var( --line ) * -1.5 );
			left: calc( var( --line ) * -1.5 );
			right: calc( var( --line ) * -1.5 );
			height: calc( var( --gH ) * .7 );
			background: linear-gradient(0deg, rgba(#fff,.175), rgba(#fff,.05));
			border-radius: calc( var( --line ) * 1.35 );
			transform: translate(.5px, .5px);
			mix-blend-mode: soft-light;
			pointer-events: none;
			z-index: 3;
		}

		&.snake-active {
			span {
				&.start:after {
					display: none;
				}

				&.exit:after {
					display: block;
				}
			}
		}

		&.locked {
			.grid-base {
				opacity: .5;
			}

			span {
				&.start:after,
				&.exit:after {
					display: none;
				}
			}
		}

		.grid-base {
			// background: #f00;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			filter: drop-shadow(0 1px 0 rgba(#fff,.125))
					drop-shadow(0 -1px 0 rgba(#000,.3));
		}

		.grid-path {
			// background: #ffffff55;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			z-index: 3;
			opacity: 1;
			transition: opacity 300ms ease-in-out;

			&.fade-out-snake {
				opacity: 0;
			}

			&.failure-snake {
				transition-delay: 1000ms;
				opacity: 0;
			}

			// &.pulse-snake {
			// 	animation: pulseSnake 1000ms ease-in-out alternate infinite;
			// }

			&.glow-snake {
				transition-delay: 5000ms;
				opacity: 0;

				svg {
					g.path1 {
						filter: drop-shadow(0 0 7px var( --snake1 ));
					}

					g.path2 {
						filter: drop-shadow(0 0 7px var( --snake2 ));
					}
				}
			}

			svg {
				// background: rgba(#f00,.2);
				// transform: translate(.5px, .5px);
				overflow: visible;
				
				> g {
					pointer-events: all;

					g {
						transition: filter 100ms ease-in-out;
						filter: drop-shadow(0 0 0);

						&.path1 {
							fill: var( --snake1 );
							stroke: var( --snake1 );
						}

						&.path2 {
							fill: var( --snake2 );
							stroke: var( --snake2 );
						}
					}
				}

				circle.started {
					r: 0;
					opacity: 0;
					animation: startGrow 60ms linear forwards;
				}
			}
		}

		span {
			position: absolute;
			top: calc( var( --gH ) * var( --y ) );
			left: calc( var( --gW ) * var( --x ) );
			width: var( --line );
			height: var( --line );
			border-radius: var( --line );

			&.ns {
				background: var( --fg );
				height: calc( var( --gH ) + var( --line ) );

				i.hex {
					&.middle { top: calc( 50% - calc( var( --line ) * .35 ) ); }
				}
			}

			&.nse {
				height: calc( var( --gH ) + var( --line ) );
			}

			&.nsd {
				height: calc( var( --gH ) + var( --line ) );

				&:before,
				&:after {
					content: "";
					background: var( --fg );
					position: absolute;
					left: 0;
					right: 0;
					height: calc( calc( var( --gH ) - var( --gap ) + var( --line ) ) * .5 );
				}

				&:before {
					// top: calc( var( --line ) * .5 );
					top: 0;
					border-radius: var(--line) var(--line) 0 0;
				}

				&:after {
					// bottom: calc( var( --line ) * .5 );
					bottom: 0;
					border-radius: 0 0 var(--line) var(--line);
				}
			}

			&.we {
				background: var( --fg );
				width: calc( var( --gW ) + var( --line ) );

				i.hex {
					&.middle { left: calc( 50% - calc( var( --line ) * .35 ) ); }
				}
			}

			&.we, &.wed {
				i.hex {
					&.bottom {
						top: calc(100% - calc(var(--line) - 2px));
						left: calc( 100% - calc( var( --line ) - 2px ) );
					}
				}
			}

			&.wee {
				width: calc( var( --gW ) + var( --line ) );

				i.hex {
					&.top { z-index: 5; }
				}
			}

			&.wed {
				width: calc( var( --gW ) + var( --line ) );

				&:before,
				&:after {
					content: "";
					background: var( --fg );
					position: absolute;
					top: 0;
					bottom: 0;
					width: calc( calc( var( --gW ) - var( --gap ) + var( --line ) ) * .5 );
				}

				&:before {
					// left: calc( var( --line ) * .5 );
					left: 0;
					border-radius: var(--line) 0 0 var(--line);
				}

				&:after {
					// right: calc( var( --line ) * .5 );
					right: 0;
					border-radius: 0 var(--line) var(--line) 0;
				}
			}

			&.start {
				z-index: 3;
				
				&:before {
					content: "";
					position: absolute;
					top: calc( var( --line ) * -.75 );
					left: calc( var( --line ) * -.75 );
					width: calc( var( --line ) * 2.5 );
					height: calc( var( --line ) * 2.5 );
					border-radius: 50%;
					background: var( --fg );
					cursor: pointer;
				}

				&:after {
					content: "";
					position: absolute;
					top: calc( var( --line ) * -.75 );
					left: calc( var( --line ) * -.75 );
					width: calc( var( --line ) * 2.5 );
					height: calc( var( --line ) * 2.5 );
					border-radius: 50%;
					transform-origin: 50% 50%;
					background: radial-gradient(circle, transparent, var( --hl ));
					animation: startPulse 1500ms ease-out infinite;
					mix-blend-mode: soft-light;
					pointer-events: none;
				}
			}

			&.exit {
				z-index: 3;
				transform: rotate( calc( calc( var( --d ) * 45deg ) - 180deg ) );

				&[style*="--d: 0"]:after,
				&[style*="--d: 1"]:after,
				&[style*="--d: 2"]:after,
				&[style*="--d: 3"]:after { top: var( --line ); }

				&[style*="--d: 4"]:after,
				&[style*="--d: 5"]:after,
				&[style*="--d: 6"]:after { top: var( --line ); }

				&[style*="--d: 7"]:after { top: var( --line ); left: -1px; }


				&:before {
					content: "";
					position: absolute;
					width: calc( var( --line ) * 1 );
					height: calc( var( --line ) * 2 );
					border-radius: var( --line );
					background: var( --fg );
				}

				&:after {
					display: none;
					content: "";
					position: absolute;
					width: var( --line );
					height: var( --line );
					border-radius: 50%;
					background: radial-gradient(circle, transparent, var( --hl ));
					animation: exitPulse 1500ms ease-out infinite;
					// background: rgba(#fff,.75);
				}
			}

			&.dot {
				// background: rgba(#fff,.1);
				top: calc( calc( var( --gH ) * var( --y ) ) + calc( var( --line ) * .5 ) );
				left: calc( calc( var( --gW ) * var( --x ) ) + calc( var( --line ) * .5 ) );
				width: var( --gW );
				height: var( --gH );
				border-radius: 0;

				&:before {
					content: "";
					opacity: 0;
					position: absolute;
					top: var( --cM );
					left: var( --cM );
					right: var( --cM );
					bottom: var( --cM );
					border-radius: 50%;
					box-shadow: 0 0 13px var( --error ),
								0 0 13px var( --error ),
								0 0 13px var( --error ),
								0 0 13px var( --error );
				}

				&:after {
					content: "";
					position: absolute;
					top: var( --cM );
					left: var( --cM );
					right: var( --cM );
					bottom: var( --cM );
					border-radius: calc( var( --cM ) * .5 );
					background: var(--c);
				}

				&.error {
					&:before {
						animation: alarm 200ms ease-in-out alternate 6 forwards;
					}
				}
			}

			&.star {
				top: calc( calc( var( --gH ) * var( --y ) ) + calc( var( --line ) * .5 ) );
				left: calc( calc( var( --gW ) * var( --x ) ) + calc( var( --line ) * .5 ) );
				width: var( --gW );
				height: var( --gH );

				&:before,
				&:after {
					content: "";
					position: absolute;
					top: calc( var( --cM ) + 5px );
					left: calc( var( --cM ) + 5px );
					right: calc( var( --cM ) + 5px );
					bottom: calc( var( --cM ) + 5px );
					background: var(--c);
				}

				&:after {
					transform: rotate(45deg);
				}

				&.error {
					&:before {
						animation: starAlarm 200ms ease-in-out alternate 6 forwards;
					}
				}
			}

			&.tetris {
				top: calc( calc( var( --grid ) * var( --y ) ) + calc( var( --grid ) * .2 ) );
				left: calc( calc( var( --grid ) * var( --x ) ) + calc( var( --grid ) * .2 ) );
				width: calc( var( --grid ) * .825 );
				height: calc( var( --grid ) * .825 );

				s {
					position: absolute;
					font-size: 0;

					&.g1x1 {
						top: 28px;
						left: 28px;
						width: 13px;
						height: 13px;
					}

					&.g1x2 {
						top: 22px;
						left: 28px;
						width: 13px;
						height: 26px;
					}

					&.g2x1 {
						top: 28px;
						left: 22px;
						width: 26px;
						height: 26px;
					}

					&.g2x2 {
						top: 22px;
						left: 22px;
						width: 26px;
						height: 26px;
					}

					&.g2x3 {
						top: 14px;
						left: 22px;
						width: 26px;
						height: 39px;
					}

					&.g3x1 {
						top: 28px;
						left: 15px;
						width: 39px;
						height: 26px;
					}

					&.g3x2 {
						top: 20px;
						left: 15px;
						width: 39px;
						height: 26px;
					}

					&.g3x3 {
						top: 15px;
						left: 15px;
						width: 39px;
						height: 26px;
					}

					&.g4x1 {
						top: 28px;
						left: 9px;
						width: 52px;
						height: 13px;
					}

					&.g4x2 {
						top: 22px;
						left: 9px;
						width: 52px;
						height: 26px;
					}

					&.g1x3 {
						top: 15px;
						left: 28px;
						width: 12px;
						height: 48px;
					}

					&.g1x4 {
						top: 8px;
						left: 28px;
						width: 12px;
						height: 48px;
					}

					b {
						display: inline-block;
						position: relative;
						width: 12px;
						height: 12px;
						margin: 0 1px 1px 0;
						border-radius: 1px;

						&.error:before {
							animation: alarm 200ms ease-in-out alternate 6 forwards;
						}

						&[data-v="1"] {
							background: var(--c);

							&:before {
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								opacity: 0;
								box-shadow: 0 0 11px var( --error ),
											0 0 11px var( --error );
							}
						}
					}
				}
			}

			&.lambda {
				top: calc( calc( var( --grid ) * var( --y ) ) + calc( var( --grid ) * .2 ) );
				left: calc( calc( var( --grid ) * var( --x ) ) + calc( var( --grid ) * .2 ) );
				width: calc( var( --grid ) * .825 );
				height: calc( var( --grid ) * .825 );

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: url(~/icons/cell-lambda.png) 50% 50% no-repeat;
					background-size: 35px 35px;
					filter: invert(1) brightness(1.5);
				}
			}

			i.hex {
				position: absolute;
				top: 2px;
				left: 2px;
				z-index: 7;
				width: calc( var( --line ) - 4px );
				height: calc( var( --line ) - 4px );
				filter: drop-shadow(0 1px 0 rgba(#000,.1));

				&.top {  }
				&.bottom { top: calc( 100% - calc( var( --line ) - 1px ) ); }

				&.error {
					&:before {
						animation: alarm 200ms ease-in-out alternate 6 forwards;
					}
				}

				&:before {
					content: "";
					opacity: 0;
					position: absolute;
					top: 2px;
					left: 2px;
					right: 2px;
					bottom: 2px;
					border-radius: 50%;
					pointer-events: none;
					box-shadow: 0 0 11px var( --error ),
								0 0 11px var( --error ),
								0 0 11px var( --error ),
								0 0 11px var( --error );
				}

				&:after {
					content: "";
					position: absolute;
					top: 1px;
					left: 0;
					right: 0;
					bottom: 1px;
					background: var( --gr );
					clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 70% 100%, 30% 100%, 0% 50%);
					pointer-events: none;
				}
			}
		}
	}
}


@keyframes shineStar {
	0% { filter: drop-shadow(0 0 7px rgba(#fff,.75)) drop-shadow(0 0 17px rgba(#fff,.75)); }
	100% { filter: drop-shadow(0 0 3px rgba(#fff,.5)) drop-shadow(0 0 7px rgba(#fff,.5)); }
}

@keyframes startPulse {
	0% { opacity: 1; transform: translate(-.5px, -.5px) scale(.1); }
	80%,
	100% { opacity: 0; transform: translate(-.5px, -.5px) scale(1); }
}

@keyframes exitPulse {
	0% { opacity: 1; transform: translate(.5px, .5px) scale(.1); }
	80%,
	100% { opacity: 0; transform: translate(.5px, .5px) scale(1); }
}

@keyframes pulseSnake {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes alarm {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes starAlarm {
	0% { filter: drop-shadow(0 0 0 var( --error )); }
	100% { filter: drop-shadow(0 0 7px var( --error )); }
}

@keyframes startGrow {
	0% { opacity: 0; r: 0px; }
	100% { opacity: 1; r: calc( var( --line ) * 1.25 ); }
}



@keyframes appear {
	0% { opacity: 0; transform: translateX(180px) scale(.75); }
	100% { opacity: 1; transform: translateX(0px) scale(1); }
}

@keyframes disappear {
	0% { opacity: 1; transform: translateX(0px) scale(1); }
	100% { opacity: 0; transform: translateX(-180px) scale(.75); }
}




